// This is largely copied from the default implementation in wp-includes/functions.php,
// With some minor customisations
html {
	background: #f1f1f1;
}
body {
	background: #fff;
	border: 1px solid #ccd0d4;
	color: #444;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 2em auto;
	padding: 1em 2em;
	max-width: 700px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
}
h1 {
	border-bottom: 1px solid #dadada;
	clear: both;
	color: #666;
	font-size: 24px;
	margin: 30px 0 0 0;
	padding: 0;
	padding-bottom: 7px;
}
#error-page {
	margin-top: 50px;
}
#error-page p,
#error-page .wp-die-message {
	font-size: 14px;
	line-height: 1.5;
	margin: 25px 0 20px;
}
#error-page code {
	font-family: Consolas, Monaco, monospace;
}
ul li {
	margin-bottom: 10px;
	font-size: 14px ;
}
a {
	color: #0073aa;
}
a:hover,
a:active {
	color: #006799;
}
a:focus {
	color: #124964;
	-webkit-box-shadow:
		0 0 0 1px #5b9dd9,
		0 0 2px 1px rgba(30, 140, 190, 0.8);
	box-shadow:
		0 0 0 1px #5b9dd9,
		0 0 2px 1px rgba(30, 140, 190, 0.8);
	outline: none;
}
.button {
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 2;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-webkit-appearance: none;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	border: 0;
}

.button.button-primary {
	background: #2271b1;
	border-color: #2271b1;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
	font-family: inherit;
	min-height: 32px;
	line-height: 2.30769231;
	padding: 0 12px;

	&:hover, &:focus {
		background: #135e96;
		border-color: #135e96;
		color: #fff;
	}
}
